@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Balsamiq Sans, sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 700;
}

/* Global classes for game screens */
.game-wrapper {

}

.gscreen {

}

.game-footer {

}

/* Start screen css */
#start-wrapper {

}

#start-screen {

}

/* Game screen css */
#game-wrapper {

}

#timer {

}

#game-screen {

}

/* End screen css */
#end-wrapper {

}

#end-screen {

}