

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Global classes for game screens */
.game-wrapper {

}

.gscreen {

}

.game-footer {

}

/* Start screen css */
#start-wrapper {

}

#start-screen {

}

/* Game screen css */
#game-wrapper {

}

#timer {

}

#game-screen {

}

/* End screen css */
#end-wrapper {

}

#end-screen {

}