@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Balsamiq Sans, sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 700;
    font-size: 4vw;
    color: white;
    padding-bottom: 1vh;
}

h2 {
    font-weight: 700;
    font-size: 3.5vw;
    color: white;
    padding-bottom: 1vh;
}

p {
    font-size: 1.2vw;
    color: white;
}

/* Global classes for game screens */
.game-wrapper {
    background-color: #741B47;
    border: 2px solid #4C1130;
    border-radius: 10px;
    text-align: center;
    width: 45vw;
    height: auto;
    margin: 5vh auto;
}

.gscreen {

}

.game-button {
    font-family: Balsamiq Sans, sans-serif;
    font-weight: 400;
    margin: 2.5vh;
    border: 2px solid #D5A6BD;
    border-radius: 7px;
    color: white;
    background-color: #4C1130;
    width: fit-content;
    padding: 2vh;
   
}

.game-button:hover {
    background-color: #D5A6BD;
    color: #4C1130;
}

/* Game screen footer */
.game-footer {
    margin-top: 1vh;
    margin-bottom: 1.5vh;
}

.game-footer ol {
    list-style: none;
}

.game-footer ol > li {
    display: inline;
}

.game-footer i {
    font-size: 2.5vw;
    color: #D5A6BD;
    padding: 0 3vw 0 3vw;
}

/* Start screen */
#start-wrapper {
    display: block;
    
}

#start-screen {
    padding: 2vh 4vw 0 4vw;
}

#start-screen p {
    padding: 0 5vw 0 5vw;
}

#ent-name-text {
    text-transform: uppercase;
    font-size: 1.5vw;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

#name-box {
    font-family: Balsamiq Sans, sans-serif;
    font-weight: 400;
    color: #4C1130;
    background-color: #D5A6BD;
    border: 2px solid #4C1130;
    border-radius: 7px;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    text-align: center;
    width: 17vw;
}

#name-box:hover {
    border: 2px solid #D5A6BD;
    background-color: #4C1130;
    color: #D5A6BD;
}

/* Main game screen */
#main-wrapper {
    display: none;
    
}

/* Took free course on progress bars on https://www.w3schools.com/w3css/w3css_progressbar.asp to understand how to construct the progress bar */
#countdown-background {
    background-color: #D5A6BD;
    width: 35vw;
    height: 3vh;
    margin: 2vh auto 2vh; 
    border: 2px solid #4C1130;
    border-radius: 7px;
}

#countdown-bar {
    background-color: #4C1130;
    width: 0;
    height: 3vh;
    text-align: center;
    color: white;
    line-height: 3vh;
}

#main-screen {
    margin-top: 2vh;
    margin-bottom: 3vh;
    display: grid;
    grid-template-columns: repeat(4, 8vh);
    grid-gap: 1vw;
    justify-content: center;
}

.memory-card {
    height: 8vh;
    border-radius: 7px;
    background: #D5A6BD; 
    color: #D5A6BD;
    line-height: 10vh;
}

.fa-solid {
    font-size: 2rem;
}

/* End screen */
#end-wrapper {
    /*display: none;*/
}

#end-screen {
    padding: 2vh 4vw 0 4vw;
}
     
#end-screen p {
    font-size: 1.8vw;
    padding: 1vh 5vw 1vh 5vw;
}